body {
  font-family: 'Open Sans', sans-serif;
  background-color: beige;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1080px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: flex-start;
}

.question-form{
  width: 1080px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: flex-start;
}

.form-label {
  width: 1080px;
  margin: 0 auto;
}
